= form_for [resource], :html => {:class => 'stacked'} do |f|
  = render :partial => 'shared/error_messages', :locals => {:target => resource} 
  
  .field
    = f.label :name
    = f.text_field :name
    
  .section.actions
    = f.submit 'Save Office', :class => 'btn-primary'
    or #{link_to 'cancel', resource}
