- provide :title, 'Offices'

%h1= yield :title

- if collection.exists?
  %p These are #{collection.count} offices recording games in Foosball Tracker
  
  - collection.order('COALESCE(leagues.games_count, 0) DESC').includes(:users).each_slice(2) do |leagues|
    .row
      - leagues.each do |league|
        .span6
          %h2= link_to league.name, league_path(league)
    
          %p <strong>#{pluralize league.users.count, 'player'}</strong> have recorded #{pluralize league.games_count, 'game'}

          - if league.users.exists?
            %p
              - league.users.each do |user|
                = link_to user_path(user) do
                  = image_tag(user.gravatar_url(:size => 32))
          - else
            %p
              %em There's no one playing foosball at #{league.name}
          %p
            = link_to 'View Office', league_path(league), :class => 'btn btn-primary'
            - unless league.users.exists?(:id => current_user.id)
              = link_to "Join Office", join_league_path(league), :class => 'btn', :method => :post
    %br
    
- else
  %p Nobody has created an office yet. Why don't you make one? #{link_to 'Add an Office', new_league_path, :class => 'btn primary'}

.section
  .row
    .span16
      .actions
        %p= link_to 'Add an Office', new_league_path, :class => 'btn'