- provide :title, resource.name

%h1= resource.name

.row
  .span16
    %p
      %em
        = resource.description
        - if resource.authorized?(:edit, current_user)
          = link_to 'Edit', edit_resource_path
.row  

  .span4
    = render :partial => 'rankings', :object => resource
    %p= link_to 'Hall of Fame', [:hall_of_fame, resource]

  .span8
    %h2 Games
    - if resource.games.empty?
      %p
        %em Looks like this league doesn't have any games recorded yet. Kinda defeats the purpose, doesn't it?
      %p
        %em You should #{link_to 'add one', [:new, resource, :game]}.
    - else
      - games_collection = resource.games.order('games.created_at DESC').page(params[:page] || 1)
      = render :partial => 'games/game', :collection => games_collection
      = paginate games_collection


    - if current_user && !current_user.league_ids.include?(resource.id)
      .section
        = link_to 'Join this league', league_league_memberships_path(resource, :league_membership => {:user_id => current_user.id}), :method => :post, :class => 'btn submit'
        = link_to 'Return to league listing', collection_path, :class => 'btn'
        
  .span4.right
    = link_to 'Record a game', [:new, resource, :game], :class => 'btn submit'