= form_for resource, :html => {:class => 'stacked'} do |f| 
  = render 'shared/error_messages', :target => resource   
  
  .field
    = f.label :name
    = f.text_field :name
   
  .field
    = f.label :email
    = f.text_field :email
    
  - if resource.new_record?
    .field
      = f.label :password
      = f.password_field :password 
  
    .field
      = f.submit 'Create my account'
  - else
    .section.actions
      = f.submit 'Save'
      = link_to 'Cancel', resource_path, :class => 'btn'
  