= form_for resource, :html => {:class => 'stacked'} do |f| 
   
  - unless resource.new_record?
    .field
      = f.label :name
      = f.text_field :name
     
   
  .field
    = f.label :email
    = f.text_field :email
    
  .field
    = f.label :password
    = f.password_field :password 
  
  .field
    = f.submit 'Sign Up'
  