%h1= resource.name
- if resource == current_user
  .section
    %p= link_to 'Edit profile', edit_resource_path

%h2 Leagues
- if resource.leagues.empty?
  %p
    %em #{resource.name} isn't in any leagues yet
- else
  %p=raw resource.leagues.collect{|league| link_to league.name, league}.join(', ')
      
.row
  .span6
    %h2= pluralize resource.wins_count, 'Win'
    = render :partial => 'games/game', :collection => resource.wins.order('games.created_at DESC')
  .span6
    %h2= pluralize resource.wins_count, 'Loss'
    = render :partial => 'games/game', :collection => resource.losses.order('games.created_at DESC')
      