= form_for [resource.league, resource], :html => {:class => 'stacked'} do |f|
  = render :partial => 'shared/error_messages', :locals => {:target => resource} 
  
  .field
    = f.label :league, 'Office'
    = f.collection_select :league_id, League.order(:name).all, :id, :name, {}, :disabled => f.object.new_record?
  
  .row
    = f.fields_for :teams do |team_form|
      .columns.span6
        .field            
          = team_form.label :goals
          = team_form.text_field :goals
          
        = team_form.fields_for :players do |players_form|
          .field
            = players_form.hidden_field :position
            = players_form.label :user_id, players_form.object.position
            = players_form.collection_select :user_id, resource.league.users.order(:name).all, :id, :name
        
  .section.actions
    = f.submit 'Save Game', :class => 'btn-primary'    
    - if resource.new_record?
      = f.submit 'Save and Record Another Game', :name => 'create_and_new'
      or #{link_to 'return to your office', parent_path}
    - else
      or #{link_to 'cancel and return to game results', resource_path}

