.row
  .span8
    %h4= link_to "#{l game.created_at, :format => :short}", [game.league, game]
  - game.teams.sort_by{|t| t.is_winner? ? 0 : 1}.each do |team|
    .span4
      .score
        - if team.is_winner?
          %strong= team.goals
        - else
          = team.goals
      %ul.team      
        - team.players.each do |player|
          %li
            - if team.is_winner?
              %strong #{player.user.name}
            - else
              = player.user.name
            -# (#{'%+0.2f' % player.rank_delta})
              
            
.spacer3
      