
.row.game
  .span8.title= link_to (l game.created_at, :format => :short), [game.league, game]
  - game.teams.sort_by{|t| t.is_winner? ? 0 : 1}.each do |team|
    .span4.team
      - if team.is_winner?  
        .score
          %strong= team.goals
        %p
          %strong= team.players.collect{|p| p.user.name}.join(' & ')
          
      - else  
        .score
          = team.goals
        %p
          = team.players.collect{|p| p.user.name}.join(' & ')
          