.row
  .span6
    %h4
      = link_to game.name, league_game_path(game.league, game)
      %small
        &mdash; #{l game.created_at.to_date, :format => :long}
  - game.teams.sort_by{|t| t.is_winner? ? 0 : 1}.each do |team|
    .span3
      .score
        - if team.is_winner?
          %strong= team.goals
        - else
          = team.goals
      %ul.team      
        - team.players.each do |player|
          %li
            - if team.is_winner?
              %strong #{player.user.name}
            - else
              = player.user.name
            -# (#{'%+0.2f' % player.rank_delta})
              
            
.spacer3
      