%h1= resource.name
  
.row
  - resource.teams.each do |team|
    .span6
      %h2= team.goals
      - team.players.each do |player|
        %h3= player.position
        .row= render :partial => 'users/user', :object => player.user
        .span2
          %p= '%+0.2f' % player.rank_delta
        
.section.actions
  = link_to 'Return to league', resource.league, :class => 'btn submit'
  = link_to 'Edit game results', edit_resource_path, :class => 'btn'
        
