
%h1 Game #{resource.id}

%p
  %strong League:
  = link_to resource.league.name, resource.league
  
.row
  - resource.teams.each do |team|
    .span6
      %h2= team.goals
      - team.players.each do |player|
        %p #{player.position}: #{player.user.name}
        
.section.actions
  = link_to 'Edit game', edit_resource_path, :class => 'btn'
        
