!!! Strict
%html
  %head
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lemon|Pacifico'
    
    %link{:rel => "shortcut icon", :href => asset_path('favicon.ico')}/
    
    %title #{yield :title} - Foosball Tracker
    
  %body
    = render 'header'
    #body_wrapper
      - unless flash[:notice].blank?
        .alert.block
          %p= flash[:notice]
      - unless flash[:alert].blank?
        .alert.block.error
          %p= flash[:alert]
      = yield
    = render 'footer'
